@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: myriad-pro, myriad, 'PT Sans', verdana, arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  box-sizing: border-box;
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.center-float {
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
}

header {
  position: static;
  background-color: #19111f;
  width: 100%;
}

header .center-float {
    display: flex;
    vertical-align: middle;
}

header .social-container {
    text-align: right;
    vertical-align: middle;
}

@media screen and (min-width: 560px) {
    .center-float {
      width: 80%;
    }

    header img {
      height: 40px;
    }

    header .cam-logo {
        padding: 20px;
    }

    header .social-container {
        height: 40px;
        padding: 20px;
    }

    header .social img {
      height: 20px;
      padding-right: 10px;
    }

    nav {
      padding: 10px 10px 0 10px;
    }

    nav .loc {
      font-size: 26pt;
    }

    nav img {
        height: 75px;
    }

    nav .tabs {
      font-size: 14px;
    }

    nav a:link,
    nav a:visited {
      padding: 10px 20px 10px 20px;
    }

    content p {
        font-size: 18px;
    }
}

@media screen and (max-width: 560px) {
    .center-float {
      width: 100%;
      margin: 0 auto;
    }

    header img {
      height: 20px;
    }

    header .cam-logo {
        padding: 15px;
    }

    header .social-container {
        height: 20px;
        padding: 15px;
    }

    header .social img {
      height: 15px;
      padding-right: 10px;
    }

    nav {
      padding: 5px 5px 0 5px;
    }

    nav .loc {
      font-size: 20pt;
    }

    nav img {
      height: 50px;
    }

    nav .tabs {
      font-size: 12px;
    }

    nav a:link,
    nav a:visited {
      padding: 5px 10px 5px 10px;
    }

    content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 410px) {
    header .cam-logo {
        display: none;
    }
}

header a:link,
header a:visited {
  outline: 0;
  color: #333333;
  transition: all ease-in-out 0.2s;
}

header a:hover {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #2c1e37;
  font-family: Roboto;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
}

nav img {
  margin-right: 20px;
}

nav .loc {
  color: white;
  padding: 10px 10px 20px 10px;
}

nav .tabs {
  display: block;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
}

nav a:link,
nav a:visited {
  display: inline-block;
  color: gray;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: white;
}

nav a.selected {
  color: white;
  border-bottom: 2px solid white;
}



content {
  font-family: Roboto;
  display: block;
  width: 100%;
  min-height: 300px;
}

content .content-padding {
    padding: 20px 20px 220px 20px;
}

content h1 {
    font-weight: normal;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

content h3 {
    padding-left: 5px;
    padding-right: 5px;
}

content p {
  padding: 5px;
}

content .title {
  font-family: Roboto;
  font-size: 12px;
  color: gray;
  font-weight: 500;
  text-transform: uppercase;
}

content a:link,
content a:visited {
  color: #8c63b2;
  font-weight: 500;
}

#blog .published,
#blog .tags {
    padding-left: 5px;
    padding-right: 5px;
}

.sourceCode {
    padding-left: 5px;
    padding-right: 5px;
}

.sourceCode .kw {
    font-weight: bold;
    color: rgb(140, 99, 178);
}

.left {
  float: left;
}

.right {
  float: right;
}

.flex-container {
  display: flex;
}
.flex-container .dynamic {
  flex: 1;
}

.flex-container .card-column {
    display: flex;
}

@media screen and (min-width: 1100px) {
    .flex-container .card-column {
        width: 400px;
        flex-direction: column;
    }

    .flex-container.no-hide {
        flex-direction: row;
    }
}

@media screen and (max-width: 1100px) {
    .flex-container .card-column {
        width: 300px;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .flex-container:not(.no-hide) .card-column {
      display: none;
    }

    .flex-container.no-hide {
        flex-direction: column-reverse;
    }

    .flex-container.no-hide .card-column {
        width: 100%;
        flex-direction: row;
    }

    .flex-container.no-hide .card-column .card {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.card {
  background-color: #2c1e37;
  padding: 10px;
  color: white;
  font-family: Roboto;
  margin-bottom: 20px;
}

.card .title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  /*color: rgba(255,255,255,.7);*/
}

.list {
  padding: 10px;
}

.list-entry:not(:last-child) {
  margin-bottom: 10px;
}

.list a:link,
.list a:visited {
    color: white !important;
}

.date {
  overflow: hidden;
  display: block;
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
}

.date:not(.end) {
  padding-top: 16px;
}

.date.range::after {
  content: '';
  display: block;
  border-left: 2px dotted white;
  height: 8px;
  width: 1px;
  margin: 5px auto;
}

.date span.day {
  padding: 4px;
  color: white;
  background-color: #ef5350;
}

.date span.month {
  padding: 4px;
  color: #ef5350;
  background-color: white;
}

footer {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: #212121;
  font-family: Roboto, sans-serif;
  color: white;
}

@media screen and (min-width: 560px) {
    footer {
        font-size: 13px;
    }
}

@media screen and (max-width: 560px) {
    footer {
        font-size: 11px;
    }
}

footer .left {
    padding: 20px;
}

footer .right {
    padding: 20px;
}

footer a:link,
footer a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}

footer a:hover {
  text-decoration: underline;
}

footer .address {
  color: #bdbdbd;
  padding-top: 5px;
}

.activities {
  font-family: Roboto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.activity {
  display: flex;
}

.activity .timespan {
  float: left;
  font-size: 14px;
  font-weight: 400;
  width: 100px;
}

.activity .academic-year {
    float: left;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
    padding-bottom: 10px;
}

.activity .description {
  flex: 1;
  font-weight: 500;
}

table {
    background-color: #2c1e37;
    padding: 10px;
    color: white;
    font-family: Roboto;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 200px;
    float: right;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
